<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Shipment Mode</th>
			<th>Shipment Code</th>
			<th>Enable Shipment</th>
			<th>Shipment Grade</th>
			<th>Description</th>
			<th rowspan="1">Operation</th>
		</tr>
		<tr th:each="obj : ${list}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.shipmentMode}"></td>
			<td th:text="${obj.shipmentCode}"></td>
			<td th:text="${obj.enableShipment}"></td>
			<td th:text="${obj.shipmentGrade}"></td>
			<td th:text="${obj.shipmentDescrp}"></td>
			<td><a th:href="@{/ship/delete/{id}(id=${obj.id})}">Delete</a> |
			    <a th:href="@{/ship/edit/{id}(id=${obj.id})}">Edit</a>
			</td>
		</tr>
	</table>
	<span th:text=${message}></span>
</body>
</html>

