<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
	<h3>Welcome to Order Form</h3>
	<form th:action="@{/order/update}" method="post" th:object="${getOne}">
		<pre>
 Order Id :<input th:field="*{ordrId}" readonly="readonly">		
 Order Mode :
 	<input type="radio" th:field="*{orderMode}" value="Sale" />Sale 
 	<input type="radio" th:field="*{orderMode}" value="Purchase" />Purchase
 	
 Order Code : <input type="text" th:field="*{orderCode}" />
 Order Type : <select th:field="*{orderType}">
 <option value="">--select--</option>
 <option value="FIFO">FIFO</option>
 <option value="LIFO">LIFO</option>
 <option value="FCFO">FCFO</option>
 <option value="FEFO">FEFO</option>
 </select>
 Order Accept : 
 	<input type="checkbox" th:field="*{orderAccept}" value="Multi-Model"/>Multi-Model
 	<input type="checkbox" th:field="*{orderAccept}" value="Accept Return" />Accept Return
 Order Description :<textarea th:field="*{orderDescrip}"></textarea>
  
 <input type="submit" value="Update Order" /> 
  </pre>
	</form>

</body>
</html>