<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
	<h3 align="center">Welcome to ShipmentType Registraion Page</h3>
	<form th:action="@{/ship/update}" method="Post" th:object="${shipmentType}">
		<pre>
		Shipment ID :<input  th:field="*{id}" readonly="readonly">
		Shipment Mode : <select th:field="*{shipmentMode}">
			<option value=" ">--select--</option>
			<option value="Ship">Ship</option>
			<option value="Airoplane">Airoplane</option>
			<option value="Truck">Truck</option>
			<option value="Train">Train</option>
		</select> 
		Shipment Code : <input type="text" th:field="*{shipmentCode}"> 
		Enable Shipment : <select th:field="*{enableShipment}">
			<option value=" ">--select--</option>
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
		Shipment Grade :
		<input type="radio" th:field="*{shipmentGrade}" value="A" />A
		<input type="radio" th:field="*{shipmentGrade}" value="B" />B
		<input type="radio" th:field="*{shipmentGrade}" value="C" />C
		Description :
		<textarea th:field="*{shipmentDescrp}"></textarea>
		
		<input type="submit" value="Update Shipment" />
     </pre>
	</form>
</body>
</html>