<html xmlns:th="https://www.thymeleaf.org/">
<head>
</head>
<body>
	<form th:action="@{/uom/create}" method="Post" th:object="${uom}">
	<h3>UOM Form Creation</h3>
		<pre>
       Uom Type :<select th:field="*{uomType}">
            <option value=" ">--select--</option>
            <option value="Packing">Packing</option>
            <option value="No Packing">No Packing</option>
            <option value=" ">NA</option>
        </select>
       Uom Model : <input type="text" th:field="*{uomModel}"/>
       Uom Description : <textarea th:field="*{uomDescrip}"></textarea>
       
       <input type="submit" value="Create Uom" />
        </pre>
	</form>
	<span th:text="${message}"></span>
</body>
</html>